// default fonts
body, html
  font-family: BentonSans, -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica, helvetica neue, ubuntu, roboto, noto, segoe ui, arial, sans-serif
  line-height: 1

// basic website bg style
body
  background: #FAFAFA

// disable <ul> bullets and margins
ul
  list-style: none
  margin-block-start: 0
  margin-block-end: 0
  padding-inline-start: 0

h1, h2, h3
  text-align: center

// SVG sprite icons
.icon
  // Place the icon on the text baseline.
  position: relative
  top: .125em

  // Prevent the icon from shrinking inside a flex container.
  flex-shrink: 0

  // Scale the icon to match the font-size of the parent element.
  height: 1em
  width: 1em

  // Let the icon take whatever color the parent has.
  fill: currentColor

  // If the icon is used on a link, which has a color transition,
  // we can also use a transition on the fill value.
  transition: fill .3s
