<section class="lead">
  <div class="wrapper">
    <div class="main-icon">
      {{> components/icon (icon 'home') class='icon' }}
    </div>

    <ul class="links">
      {{#foreach (get 'lead.links')}}
        <li>
          <a href="{{ href }}">
            {{> components/icon (icon icon) class='icon' }}
          </a>
        </li>
      {{/foreach}}
    </ul>

    <h1 class="handle">
      @herokuro
    </h1>

    <ul class="tools">
      {{#foreach (get 'lead.icons')}}
        <li>
          <div class="column-icon">
            {{> components/icon class='icon' }}
          </div>
        </li>
      {{/foreach}}
    </ul>
  </div>
</section>
