<section class="slogan">
  <h1>
    @herokuro is a set of Node.js tools and utilities
    to help to kickstart easily and manage efficiently your Heroku projects.
  </h1>

  <h2>
    Ad laborum ullamco officia nulla culpa nostrud.
    Sint voluptate sint amet culpa amet exercitation.
    Tempor et aute amet pariatur. Id Lorem eu mollit commodo dolor ut.
    Qui et reprehenderit veniam esse culpa nulla minim enim.
  </h2>
</section>
