<section class="tools">
  <h1>
    A powerful toolset to use
  </h1>

  <h2>
    For developers by developers.
  </h2>

  <ul>
    {{#foreach (get 'lead')}}
      <li>
        <div class="icon"></div>
        <h3>noop-server</h3>
        <p>
          Eiusmod cillum sit amet fugiat aliqua ea voluptate exercitation
          sunt sint duis do. Tempor mollit adipisicing veniam elit enim eu
          do cupidatat irure quis. Sunt velit ipsum do cupidatat mollit
          incididunt fugiat consectetur elit. Velit cupidatat est dolore
          enim commodo est amet.
        </p>
      </li>
    {{/foreach}}
  </ul>

  <div class="buttons">
    <button>visit GitHub</button>
    <button>visit Twitter</button>
  </div>
</section>
