<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{get 'title'}}</title>
  </head>

  <body>
    {{>sections/lead}}
    {{>sections/slogan}}
    {{>sections/news}}
    {{>sections/tools}}
    {{>sections/connect}}
    {{>sections/footer}}

    <script src="vendor/jquery.min.js"></script>
  </body>
</html>
